<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--/assets/shapes.svg-->
<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/canal_park.jpg" alt="Duluth Harbor" />
      <ion-card-header>
        <ion-card-subtitle>We Are Local</ion-card-subtitle>
        <ion-card-title>Duluth Loves Local</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>We are a grassroots movement that wants consumers to think local first, and by doing so, positively impact the place we call home. When you buy products and services from independent and locally-owned businesses, you’re supporting the Duluth economy. Best of all, you’re supporting your friends and neighbors!</p>
      </ion-card-content>
    </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Our Story</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <img src="/assets/img/glensheen.jpeg" alt="Glensheen Mansion" />
      <p>Duluth Loves Local is a community of local-loving Duluthians who support the hard-working, independent small businesses that make Duluth such a great place to work, visit and raise a family. Duluth Loves Local is a leader in the grassroots movement of thinking local first, supporting local whenever possible, and working together to positively impact the place that we call home.<br>
        <img src="/assets/img/SirBens.jpg" alt="Duluth Pack" />
        Years ago we saw small businesses struggle to reach the younger audience and tourists in a way that was time and cost effective. We loved exploring new places and supporting our favorite spots but were worried that if the businesses didn’t get the local support they wouldn’t succeed. Since we were already shopping, eating, drinking and visiting local establishments it was a logic step to post our experiences on social media with the hashtag #duluthloveslocal. We started small and with no money but just a hope that it would catch on and people would join in with our explorations. And they did!<br>
        <img src="/assets/img/duluth_grill.jpg" alt="Vikre" />
        We love the shift we’ve seen in entrepreneurs staying here to create their awesome businesses or moving here on dream to make things work! These people are putting everything on the line to bring us their passions and make our life better with good beer, food, education, art, wellness, services and more. The least we can do it support them!</p>
    </ion-card-content>
    </ion-card>
    <img src="/assets/img/DLL_logo.jpg" alt="Duluth Loves Local Logo" />
</ion-content>
